.quiz{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c2531;
    color: antiquewhite;
    margin-bottom: 400px;
    margin: 30px;
    /* text-decoration: wavy; */
   
    
}

body{


    background-image: url("./assets/virtualLandscape.jpg");

    /* background-color: #EFD09E; */
    background-size: cover; 
            /* width: 100%;
            height: 100%;  */

}

/* HighScores Page begins here */
.topScores{

    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    /* color: antiquewhite; */
    padding-bottom: 10%;
    font-family: Foldit;
}

.clear-scores{

    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    color: #FFC043;
    background-color: #0E1C2A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 46%;


    
}

.go-back-btn{

    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    color: #F7F1F8;
    text-align: center;
    padding-bottom: 20%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 46%;


}

.GameOver{

    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding-bottom: 20%;

}

.initials{

    margin: 0 auto;
    height: 40px;
    width: 105px;
    text-align: center;
    margin-bottom: 5%;
    background-color: #85C4E1;
    font-family: Bubblegum Sans;
    font-size: xx-large;

}

.submit{

    width: 110px;
    background-color: #0E1C2A;
    color: #85C4E1;

}

h3{
    font-family: Bungee Spice;
    font-size: xx-large;
    text-align: center;
    margin-left: -40%;
    margin-bottom: 5%;
}
h3:hover{
    opacity: 20%;
}

h4{
    color: #85C4E1;
    margin-right: -6%;
}

#highscores2{

 font-size: 50px; 
 text-align: center;
 color: #FFC043;
 padding-bottom: 10%;
 margin-right: -1%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topScores{
 
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    color: #0E1C2A;
   

}

/* HighScores Page ends here */


/* Start Page begins here */
.startButton{

    /* display: flex; */
    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 11%;
    font-family: Bungee Spice;
    font-size: large;
    background-color: #0E1C2A;
    /* margin-left: 900px; */
    /* align-self: center; */
    
}




#question{

    padding: 2px;
    
    align-content: flex-start;
        
}

.answers{

    padding-left: 50px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;


}

#divTimer{
    display: block;
    text-align: end;
    color: #FF7477;
    position: relative;
    padding-right: 50px;
    padding-top: 20px;
    font-size: large;
    
}

#highscores{

 font-size: large;
 color: #FF7477;
 display: inline-block;
 text-align: start;
 /* justify-content: baseline; */
 padding-bottom: 10px;
 padding-left: 50px;
 padding-bottom: 30px;
 position: relative;
 
}


.GameOver{

    color: antiquewhite;

}





.hidden{

    display: none;
}